In [ ]:
# !pip install yfinance

In [ ]:
import pandas as pd
import invest

In [6]:
# 주식 코드와 시작 시간을 이용하여 데이터를 로드
input_code = 'AAPL'
input_time = '2020-01-01'

In [7]:
# 데이터 로드
df = invest.load_data(input_code, input_time)

In [8]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02 00:00:00-05:00,71.721026,72.776606,71.466820,72.716080,135480400,0.0,0.0
2020-01-03 00:00:00-05:00,71.941321,72.771737,71.783954,72.009109,146322800,0.0,0.0
2020-01-06 00:00:00-05:00,71.127881,72.621661,70.876090,72.582924,118387200,0.0,0.0
2020-01-07 00:00:00-05:00,72.592578,72.849208,72.021215,72.241531,108872000,0.0,0.0
2020-01-08 00:00:00-05:00,71.943751,73.706271,71.943751,73.403641,132079200,0.0,0.0